<%- include('./partials/head'); %> 

<body>
	<%- include('./partials/header'); %> 
	 
	 <div id="pagina-de-contato" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<!-- <div class="col-sm-12">    			   			
					<h2 class="title text-center">Contato <strong>Br</strong></h2>    			    				    				
					<div id="gmap" class="contact-map">
					</div>
				</div>			 		 -->
			</div>    	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Entrar em contato</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
				            <div class="form-group col-md-6">
				                <input type="text" name="name" class="form-control" required="required" placeholder="Nome">
				            </div>
				            <div class="form-group col-md-6">
				                <input type="email" name="email" class="form-control" required="required" placeholder="Email">
				            </div>
				            <div class="form-group col-md-12">
				                <input type="text" name="subject" class="form-control" required="required" placeholder="Assunto">
				            </div>
				            <div class="form-group col-md-12">
				                <textarea name="message" id="message" required="required" class="form-control" rows="8" 
								placeholder="Escreva sua mensagem aqui"></textarea>
				            </div>                        
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Enviar">
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Informação de contato</h2>
	    				<address>
	    					<p>Cartola Camisas</p>
							<p>Av.Paulista, N 3000</p>
							<p>Sao Paulo, Br</p>
							<p>Telefone: 55 11 4022-8922</p>
							<p>Email: info@cartolacamisas.com.br</p>
	    				</address>
	    				<div class="rede-social">
	    					<h2 class="title text-center">Rede-Social</h2>
							<ul>
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-youtube"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->
	
	<%- include('./partials/footer'); %> 
	<%- include('./partials/scripts'); %>   
</body>
</html>