<%- include('./partials/head'); %> 

<body>
	<%- include('./partials/header'); %> 
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Fazer login</h2>
						<form action="#">
							<input type="text" placeholder="Nome" />
							<input type="email" placeholder="Email" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Mantenha-me conectado
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">Ou</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Novo usuário!</h2>
						<form action="#">
							<input type="text" placeholder="Nome"/>
							<input type="email" placeholder="Email"/>
							<input type="password" placeholder="Senha"/>
							<input type="password" placeholder="Repita a senha"/>
							<button type="submit" class="btn btn-default">Confirmar</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	
	<%- include('./partials/footer'); %> 
	<%- include('./partials/scripts'); %>   
</body>
</html>